<div id="<%= dom_id assessment %>">
  <p>
    <strong>Patient:</strong>
    <%= assessment.patient_id %>
  </p>

  <p>
    <strong>Edema:</strong>
    <%= assessment.edema %>
  </p>

  <p>
    <strong>Labor duration:</strong>
    <%= assessment.labor_duration %>
  </p>

  <p>
    <strong>Contraction pattern:</strong>
    <%= assessment.contraction_pattern %>
  </p>

  <p>
    <strong>Cervical dilation:</strong>
    <%= assessment.cervical_dilation %>
  </p>

  <p>
    <strong>Uterine tone:</strong>
    <%= assessment.uterine_tone %>
  </p>

  <p>
    <strong>Fetal head position:</strong>
    <%= assessment.fetal_head_position %>
  </p>

</div>
