<div id="<%= dom_id symptom %>">
  <p>
    <strong>Patient:</strong>
    <%= symptom.patient_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= symptom.name %>
  </p>

  <p>
    <strong>Severity:</strong>
    <%= symptom.severity %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= symptom.description %>
  </p>

  <p>
    <strong>Reported at:</strong>
    <%= symptom.reported_at %>
  </p>

</div>
