<div id="<%= dom_id test %>">
  <p>
    <strong>Patient:</strong>
    <%= test.patient_id %>
  </p>

  <p>
    <strong>Test type:</strong>
    <%= test.test_type %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= test.value %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= test.unit %>
  </p>

  <p>
    <strong>Test date:</strong>
    <%= test.test_date %>
  </p>

</div>
